h1 {
font-family: 'ABeeZee';font-size: 50px;
}

p {
font-family: 'ABeeZee';font-size: 44px;  
}

h2 {
font-family: 'ABeeZee';font-size: 64px;
}

@media (min-width: 920px){
    h1 {
        font-family: 'ABeeZee';font-size: 30px;
        }
        
        p {
        font-family: 'ABeeZee';font-size: 24px;  
        }
        
        h2 {
        font-family: 'ABeeZee';font-size: 44px;
        }

}

@media (min-width: 920px){
.content {
    margin:auto;
    max-width: 920px;
}
}

/*HEADER SECTION*/
.desktop-header{
    background-color:#f9f5f2;
    display:none;
    padding: 36px;
    align-content: center;
}

.mobile-header{
    display:flex;
    background-color:#f9f5f2;
    justify-content: center;
    padding: 24px;
}

.mobile-header img {
   width: 80%;
   height: auto;
}

@media (min-width: 920px) {
    .mobile-header {
        display:none;
    }
    .desktop-header{
        display:block;
    }
}

/*CARD SECTION*/
.card-section {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#f9f5f2; 

}

.card-section img {
    padding: 24px;
    min-width: 200px;
    min-height: auto;
}

@media (min-width: 920px) {
    .card-section {
        flex-direction: row;
        max-width: 920px;
    }
    .card-section img{
        min-width: 270px;
    }
}

/*DOWNLOAD APP SECTION*/
.download-section {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 920px;
    padding: 36px;
}

.joy-jar-logo {
    width: 100%;
    height: auto;
    
}

@media (min-width: 920px) {
    .download-section {
        flex-direction: row;
    }
}

.download-button {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.download-button img {
    width: 50%;
    height: auto;
}

.joy-jar-logo {
    margin: 0px;
    width: 273px;
    height: auto;
    padding: 25px;
}

@media (min-width: 920px) {
    .joy-jar-logo {
        margin: -84px;
    }
}

/*TIME SENSITIVE SECTION*/

.time-sensitive-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f9f5f2;
    max-width: 920px;
    padding: 36px;
}
.good-morning-mockup {
   max-width: 350px; 
   margin-top: 0px;
}

.hourglass {
    text-align: center;
    max-width: 420px;
}

@media (min-width: 920px) {
    .time-sensitive-section {
        flex-direction: row;
    }
    .good-morning-mockup{
        margin-top: -84px;
    }

    .hourglass{
        padding-right: 100px;
    }
}

/*PERSONALIZE REWARDS SECTION*/

.personalize-rewards-section {
    display:flex;
    flex-direction: column;
    max-width: 920px;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px;
}

.pizza {
    text-align: center;
    max-width: 400px;
}

@media (min-width: 920px) {
    .personalize-rewards-section {
        flex-direction: row-reverse;
    }
    .pizza {
        max-width: 400px;
    }
}

/*EARN STARS SECTION*/
.earn-stars-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#f9f5f2;
    max-width: 920px;
    padding: 36px;
}
.stars-award {
   max-width: 350px; 
   margin-top: 0px;
}

.stars {
    text-align: center;
    max-width: 480px;
}

@media (min-width: 920px) {
    .earn-stars-section {
        flex-direction: row;
    }
    .stars-award{
        margin-top: -104px;
    }

    
}

/*FOOTER SECTION*/
.footer {
    background-color:#30E3DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 36px;
    max-width: 920px;
}

@media (min-width: 920px) {
    .footer {
    flex-direction: row;
    }
}

