
h1 {
        font-family: 'ABeeZee';font-size: 30px;
        padding-bottom: 25px;
        padding-top: 25px;
}
        
 p {
        font-family: 'ABeeZee';font-size: 24px;  
}



/* TRYING TO MAKE MOBILE VERSION SMALLER*/


.img-responsive {
    max-width: 100%;
    height: auto;
}

.content {
    width: 80%;
    height: auto;
    margin: auto;
}

 /*DESKTOP CONTENT AND IMAGES*/
@media (min-width: 920px){
.content {
    width: 100%;
   margin: auto;
   max-width: 920px;
    }

}


/*HEADER SECTION*/
.desktop-section{
    background-color:#f9f5f2; 
    display:none;
}

.desktop-header {
    display: none;
    align-content: center;
}

.mobile-section {
    background-color:#f9f5f2;
}

.mobile-header{
    display:flex;
    justify-content: center;
    padding: 24px;
}

@media (min-width: 920px) {
    .mobile-header {
        display:none;
    }
    .mobile-section {
        display:none;
    }
    .desktop-header{
        display:flex;
    }
    .desktop-section{
        display: flex;
    }
}

/*CARD SECTION*/

.card-section {
    padding-bottom: 34px;
    background-color:#f9f5f2; 
}
.card-images {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

@media (min-width: 920px) {
    .card-images {
        flex-direction: row;
    }
}

/*DOWNLOAD APP SECTION*/
.download-cta {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 920px;
}

.download-section {
    padding: 36px;
}

.download-button {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 920px) {
    .download-cta {
        flex-direction: row;
    }

    .joy-jar-logo {
        width: 273px;
        height: auto;
        padding: 15px;
        margin: -84px;
        align-content: center;
    }
}

/*TIME SENSITIVE SECTION*/

.time-sensitive-section {
    background-color:#f9f5f2;
    padding: 36px;
}
.time-sensitive-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 920px;
    
}
.good-morning-mockup {
   max-width: 350px; 
   margin-top: 0px;
}

.hourglass {
    text-align: center;
    max-width: 420px;
}

@media (min-width: 920px) {
    .time-sensitive-blurb {
        flex-direction: row;
    }
    .good-morning-mockup{
        margin-top: -84px;
    }

    .hourglass{
        padding-right: 100px;
    }
}

/*PERSONALIZE REWARDS SECTION*/
.personalize-rewards-blurb {
    display:flex;
    flex-direction: column;
    max-width: 920px;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px;
}

.pizza {
    text-align: center;
    max-width: 400px;
    padding: 20px;
}


@media (min-width: 920px) {
    .personalize-rewards-blurb {
        flex-direction: row-reverse;
    }
    .pizza {
        max-width: 400px;
    }
}

/*EARN STARS SECTION*/
.earn-stars-section {
    background-color:#f9f5f2;
    padding: 36px;
}
.earn-stars-blurb {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 920px;
}
.stars-award {
   max-width: 350px; 
   margin-top: 0px;
}

.stars {
    text-align: center;
    max-width: 480px;
}

@media (min-width: 920px) {
    .earn-stars-blurb {
        flex-direction: row;
    }
    .stars-award{
        margin-top: -104px;
    }

    
}

/*FOOTER SECTION*/
.footer-section {
    background-color:#30E3DF;
    padding: 36px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 920px;
}

@media (min-width: 920px) {
    .footer {
    flex-direction: row;
    }
}

